/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * elza-condensed:
 *   - http://typekit.com/eulas/00000000000000007735f917
 *   - http://typekit.com/eulas/00000000000000007735f919
 *   - http://typekit.com/eulas/00000000000000007735f91d
 *   - http://typekit.com/eulas/00000000000000007735f923
 *   - http://typekit.com/eulas/00000000000000007735f922
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-08-26 03:56:57 UTC"}*/

@import url("p-1.css");

@font-face {
font-family:"elza-condensed";
src:url("af/48a8ac/00000000000000007735f917/30/l") format("woff2"),url("af/48a8ac/00000000000000007735f917/30/d") format("woff"),url("af/48a8ac/00000000000000007735f917/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"elza-condensed";
src:url("af/392e0f/00000000000000007735f919/30/l") format("woff2"),url("af/392e0f/00000000000000007735f919/30/d") format("woff"),url("af/392e0f/00000000000000007735f919/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"elza-condensed";
src:url("af/df9bc9/00000000000000007735f91d/30/l") format("woff2"),url("af/df9bc9/00000000000000007735f91d/30/d") format("woff"),url("af/df9bc9/00000000000000007735f91d/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"elza-condensed";
src:url("af/a0e615/00000000000000007735f923/30/l") format("woff2"),url("af/a0e615/00000000000000007735f923/30/d") format("woff"),url("af/a0e615/00000000000000007735f923/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"elza-condensed";
src:url("af/175880/00000000000000007735f922/30/l") format("woff2"),url("af/175880/00000000000000007735f922/30/d") format("woff"),url("af/175880/00000000000000007735f922/30/a") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

.tk-elza-condensed { font-family: "elza-condensed",sans-serif; }
